body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-image: linear-gradient(rgb(81, 167, 157),rgb(79, 134, 128),rgb(48, 68, 68));
}
canvas {
  display: block;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.page1{
  position: relative;
  display: flex;
  flex-direction: column;
  width:100%;
  z-index:2;
  top: -100vh;
}


.header {
  display: none;
}


.logo img{
  padding: 0;
  margin: 0 auto;
  width: 40px;
  height: 40px;
}

.sticky {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 16px;
  background: rgba(66, 88, 88, 0.541);
  color: #f1f1f1;
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
}

ul{
  display: flex;
  list-style-type: none;
  font-size: 16px;
  justify-content: center;
  margin: 0px;
}

li{
  margin:2vh 4vw 0 1vw ;
  font-family: Arial;
}

li a{
  color: rgba(214, 229, 230, 0.7);
  text-decoration: none;
}

.page1 .center-text{
  text-align: center;
  margin-top:150px ;
}

.page1 .center-text button{
background-color: rgba(240, 248, 255, 0);
border: 0;
padding: 0;
outline: none;
}

.page1 .center-text h2{
  font-size: 100px;
  margin: 0;
  color: #ffff;
}

.page1 .center-text p{
  font-size: 20px;
  color: #ffff;
  margin: 0;
}

.page1 .center-text .social-icons{
  margin-top:20px ;
}
.page1 .center-text .social-icons a{
  font-size: 30px;
  color:#ffff;
  text-decoration: none;
  margin-left:10px ;
}

.page2{
  position: relative;
  width:100%;
  height:100vh;
  margin-top: -200px;
}


.title{
  max-width: 90vw;
  margin: 0px 20px 0px 50px;
  text-align: center;
  color: rgba(239, 245, 243, 0.9);
  font-size: 30px;
  border-bottom: solid rgba(239, 245, 243, 0.9) 2px;
}


.wings{
  max-width: 97vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.wings a{
  text-decoration: none;
  margin: 40px;
  text-align: center;
}
.wings a h2{
  font-size: 30px;
  color: rgb(236, 245, 245);
}
.wings a p{
  font-size: 15px;
  color: rgb(185, 188, 190);
}

.wing{
  width: 250px;
  height: 200px;
  border: solid rgb(126, 124, 124) 2px;
}


.cordinators{
  margin-top: 100px;
}

.flexcontainer{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.flexbox{
  width: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fleximg img{ 
  border-radius: 50%;  
  width: 150px;
  height: 150px; 
}

.member-name{
  font-size: 15px;
  color:  #c6c9cc; 
}
.social-icon a{
  font-size: 20px;
  color: #c6c9cc;
  margin: 0 0 20px 20px;
  text-decoration: none;
}

  
.footer {
  margin-top: 10px;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.contects a {
  font-size: 30px;
  color: #c6c9cc;
  margin: 10px;
  text-decoration: none;
}

.copy {
  margin-top: 20px;
}