*{
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  display: none;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: rgba(1, 11, 24, 0.925);
  overflow-x: hidden;
  font-family: DisposableDroidBB;
}
@font-face { font-family: DisposableDroidBB; src: url('../../DisposableDroidBB.ttf'); }


.page1 {
  width: 100%;
  height: 100vh;
}

.icon{
  display: none;
}

.logo img{
  padding: 1px 10px;
  width: 35px;
  height: 40px;
}

.sticky {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 10px;
  background: linear-gradient(0deg, rgb(17, 39, 58) 0%, rgb(11, 14, 12) 100%);
  color: #f1f1f1;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
}

.menu{
  display: flex;
  list-style-type: none;
  font-size: 20px;
  justify-content: center;
  margin: 0px;
}

.menu li{
  margin:20px 50px 0 20px;
}

.menu li a{
  color: rgba(214, 229, 230, 0.7);
  text-decoration: none;
}

@media only screen and (max-width: 700px) {
  .sticky{
    background: rgba(20, 4, 4, 0);
  }
  .sticky .logo img{
    width: 45px;
    height: 50px;
  }
  .menu{
    display: none;
  }
}

.landing-page {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.landing-page .web-image img {
  width: 55vw;
  height: 50vh;
  margin-top: 150px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  text-align: center;
}

.center h3{
  margin: 50px;
  font-size: 25px;
  color: rgb(17, 226, 226);
  font-weight: 200;
}

.text {
  margin-top: 100px;
  text-decoration: none;
  color: rgba(242, 248, 248, 0.877);
  font-size: 80px;
  margin-bottom: 0;
}

@media only screen and (max-width: 700px) {
  .text {
    font-size: 12vw;
  }
  .center img {
    height: 5vw;
    padding-left: 4vw;
  }
  .center {
    padding: 30vh 0 0 25vw;
  }
  .web-image{
    display: none;
  }
  .landing-page{
    display: block;
    width: 100%;
    height: auto;
  }
  .landing-page .center {
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .center h3{
   margin: 15px 10px;
   margin-bottom: 150px;
  }
  .text{
    font-size: 50px;
  }
  
}

/*main page  end**/

.title {
  text-align: center;
  color: rgba(239, 245, 243, 0.9);
  margin: 80px 0px 50px 0px;
  font-size: 30px;
}

.down-arrow {
  text-align: center;
  margin-top: 70px;
  color: #c6c9cc;
  font-size: 20px;
  animation: move 3s ease-out infinite;
}

@keyframes move {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
    transform: translateY(20px);
  }
  33% {
    opacity: 0.9;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  85% {
    opacity: 0.7;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.down-arrow p {
  font-size: 15px;
}

/*page 3 start*/

.projects {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  padding: 10px 0;
}

.projects .project-card {
  margin: 30px;
  position: relative;
  width: 250px;
  height: 300px;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}

.projects .project-card:hover .project-image{
  opacity: 0.2;
}

.projects .project-card .project-image {
  position: absolute;
  width: 250px;
  height: 300px;
  top: 0;
  left: 0;
}

.projects .project-card .project-image img {
  width: 100%;
  height: 100%;
}

.projects .project-card .project-contant {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  transition: 0.5s ease-in-out;
}

.projects .project-card .project-contant p{
  text-align: center;
  color: #fff;
  font-size: 20px;
  margin: 10px;
}

.projects .project-card:hover .project-contant {
  top: 10%;
}

.projects .project-card:hover{
  box-shadow: 0 10px 15px rgb(6, 88, 109);
}

/*page 4**/

.members-contaner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  transform-style: preserve-3d;
}

.members-contaner .member-box {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 30px;
  background: #000;
  transform-style: preserve-3d;
  border-radius: 10px;
  overflow: hidden;
}

.members-contaner .member-box:hover {
  box-shadow: 0 50px 80px rgba(0, 0, 0, 0.2);
}

.members-contaner .member-box .member-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.members-contaner .member-box .member-image img {
  width: 100%;
  height: 100%;
}

.members-contaner .member-box .member-contant {
    position: absolute;
    text-align: center;
    margin: 10px;
    max-height: 290px;
    max-width: 240px;
    background: rgb(233, 230, 230);
    transform: translateZ(20px) scaleY(0);
    padding: 20px 20px;
    transform-origin: top;
    transition: 0.5s;
    transform-style: preserve-3d;
    border-radius: 10px;
}

.members-contaner .member-box .member-contant h2{
  color: rgb(40, 161, 218);
}
.members-contaner .member-box .member-contant h3{
  color: rgb(44, 58, 57);
  font-weight: 200;
}

.members-contaner .member-box .member-contant .social-icon a{
  font-size: 25px;
  color: #1e4757;
  margin: 0 0 20px 10px;
  text-decoration: none;
}

.members-contaner .member-box:hover .member-contant {
  transform: translateZ(20px) scaleY(1);
}


/*footer**/

.footer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer h2{
  color: #f1f1f1;
  margin: 20px;
  font-weight: 200;
}

.contects a {
  font-size: 30px;
  color: #c6c9cc;
  margin: 10px;
  text-decoration: none;
}

.copy {
  margin-top: 20px;
}
